<div class="topnav" id="mytopnav">
        <a href="#Home" class="active">Home</a>
        <a href="{% url 'news:index' %}">News</a>
        <div class="subMenu">
            <button class="dropbtn">News24</button>
            <div class="dropbtn-content">
                <a href="#Football">national</a>
                <a href="#Cricket">international</a>
                <a href="#Volleyball">local</a>
            </div>
        </div>
        <div class="subMenu">
            <button class="dropbtn">Sports</button>
            <div class="dropbtn-content">
                <a href="#Football">Football</a>
                <a href="#Cricket">Cricket</a>
                <a href="#Volleyball">Volleyball</a>
            </div>
        </div>
        <div class="subMenu">
            <button class="dropbtn">Events</button>
            <div class="dropbtn-content">
                <a href="#Football">public</a>
                <a href="#Cricket">private</a>
                <a href="#Volleyball">government</a>
            </div>
        </div>
        <a href="#Contact">Contact</a>
        <a href="#About">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

</div>