 <!-- Top Bar -->
{% load static %}
<div class="topSocial">
     <a href="#latest"><i class="fa fa-bolt" style="color: black;" aria-hidden="true"> Latest news </i></a>
     <div class="srhFunction">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
      </div>     
</div>
<div class="header">
    <div class="col-md-12">
        <div class="col-md-3">
            <a href="#default" class="logo">Swargadwari <small>News</small> </a>
        </div>
            <div class="banner">
                <div class="addContainer">
                    <img src="../../static/img/school.jpg" alt="banner">
                </div>
            </div>
            <div class="header-right">
                <a href="#home"><i class="fa fa-facebook-official" style="color: blue;" aria-hidden="true"></i></a>
                <a href="#contact"><i class="fa fa-youtube-play" style="color: red;" aria-hidden="true"></i></a>
                <a href="#about"><i class="fa fa-twitter" style="color: #00acee;" aria-hidden="true"></i></a>
                <a href="#about"><i class="fa fa-instagram" style="color: #F77737;" aria-hidden="true"></i></a>
            </div>
    </div>
</div>