{% extends 'base.html' %}
{% block content %}
  <h1>hello world </h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  finally done topbar 
  navbar
  footer
  thank you
  Era vară
Era vară și tu erai cu mine
Era vară nu demult
Oră după oră noi trăiam
Zile si nopți fericiți fără mâine
 
Era toamnă și tu erai cu mine
Era toamnă nu demult
Oră după oră fără un surâs
Se stingea vara în ochii tăi
 
Te priveam și visam la o viață
Împreună cu tine
Dar visele frumoase
Nu se adeveresc niciodată
 
Era vară și tu erai cu mine
Era vară demult
Si pe chipul tău lacrimi limpezi
Imi spuneau doar adio
 
Imi spuneau adio, numai adio.
https://lyricstranslate.com/en/era-destate-era-var%C4%83.html
{% endblock %}